/*	Custom styles messing with bootstrap */
body
{
	background-color: black;
	background-image: url('../img/main_bg.jpeg');
	background-size: 250%;
	background-repeat: no-repeat;
	background-position: top center;
	font-family: 'Open Sans Condensed', sans-serif !important;
}

.page-header h1
{
	text-align:center;
	font-size:12em;
	color:black;
	/*	font-family: 'Bowlby One', cursive;*/
	/*	font-family: 'Francois One', sans-serif;*/
	/*		font-family: 'Ubuntu', sans-serif;*/
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	padding: 60px;
	position:relative;
	top:-50px;
	margin-bottom: -60px;
	background-color: #EEE;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;

}

.page-header
{
	border: none !important;
}

.row
{
	float:left;
	padding:20px;
	width:30%;
}

.hero-unit
{
	height:70em;
}

.pic-grid
{
	padding:30px;
	margin-top:3em;
	position:relative;
}

.navbar-inner .container
{
	position:relative;
	max-width:100%;
}


.container .nav li a
{
	position:relative;
	left:60px;
	margin-right:70px;
	font-size:4em;
}

.thumbnail > img
{
	opacity:0.6;
}

a.thumbnail:hover
{
		  border-color: black !important;
}
.thumbnail > img:hover
{
	opacity:1;
}

.footer
{
	margin-top:45em;
	padding: 10px 0;
	text-align:center;
	padding: 60px;
}

.footer a
{
	font-size:1em;
}

.navbar + .hero-unit
{
	height:100px !important;
}