/*	Custom styles messing with bootstrap */
body
{
	background-color: black;
	background-image: url('../img/main_bg.jpeg');
	background-repeat: no-repeat;
	background-position: top center;
}

.page-header h1
{
	text-align:center;
	font-size:12em;
	color:black;
	/*	font-family: 'Bowlby One', cursive;*/
	/*	font-family: 'Francois One', sans-serif;*/
	/*		font-family: 'Ubuntu', sans-serif;*/
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	padding: 60px;
	position:relative;
	top:-50px;
	margin-bottom: -60px;
	background-color: #EEE;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;

}

.page-header
{
	border: none !important;
}

.row
{
	float:left;
	padding:20px;
	width:30%;
}

.hero-unit
{
	height:50em;
}

.pic-grid
{
	padding:30px;
	margin-top:3em;
	position:relative;
}

.navbar-inner .container
{
	position:relative;
	background-color:red;
	max-width:100%;
}


.container .nav li a
{
	font-family: 'Open Sans Condensed', sans-serif;
	position:relative;
	left:60px;
	/*	padding:10px !important;*/
	margin-right:70px;
	font-size:4em;
}


/*.media-grid
{
background-color:red; 
padding:2em;
height:40em;
position:relative;
}

.media-grid .thumbnails
{
position:relative;
background-color:blue;
width:50%;

}*/

